<!--The content below is only a placeholder and can be replaced.-->
<app-menu title="Mon Application" theme="dark"></app-menu>

<div style="text-align:center" class ='container'>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <br>
  <br>



<app-pizza [selectedPizza] = "selectedPizza"></app-pizza>
  

<!-- Remplacer liste basique par 4 colonnes Bootstrap
    dans chque colonne bootstrap, on utilisera la class card pour afficher la pizza correctement.
-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3" *ngFor="let pizza of pizzas" (click)="onSelect(pizza)">
        <div class="card shadow mb-4">
            <img class="card-img-top" [src]="'assets/pizza/'+pizza.image">
            <div class="card-body">
              <h2 class="card-title">{{pizza.name}}</h2>
              <p>Prix : {{pizza.price}} €</p>
            </div>
            <div class="card-footer">
              <button data-id="{{pizza.id}}" class="btn btn-primary">Je veux cette pizza !</button>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
